<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.teacherhelper">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/> <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.INTERNET"/> <!-- 网络通信-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>  <!-- 获取设备信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/> <!-- 获取MAC地址-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/><!-- 读写sdcard，storage等等 -->
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">

        <activity android:name=".view.Activity.SplashActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".view.Activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".view.Activity.MainActivity"
            android:screenOrientation="portrait"
            android:label="主页面"
            android:windowSoftInputMode="adjustPan|stateHidden" >

            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".view.Activity.dc_Activity" />
        <activity android:name=".view.Activity.PaperAnalysis_Detial" />
        <activity android:name=".view.Activity.zcj_Activity" />
        <activity android:name=".view.Activity.pscj_Activity" />
        <activity android:name=".view.Activity.Summary_Item" />
        <activity android:name=".view.Activity.Program_item" />
        <activity android:name=".view.Activity.Calendar_Item" />
        <activity android:name=".view.Activity.PermissionsActivity" />
        <activity android:name=".view.Activity.my_detail" />
        <activity android:name=".view.Activity.my_course" />
        <activity android:name=".view.Adapter.my_download" />
        <activity android:name=".view.Activity.PaperAnalysis_List" />
        <activity android:name=".view.Activity.PaperAnalysis_Add" />
        <activity android:name=".view.Activity.MaxActivity" />
        <activity android:name=".view.Activity.max.mx_upload" />
        <activity android:name=".view.Activity.Summary_Detial" />
        <activity android:name=".view.Activity.Summary_Add" />
        <activity android:name=".view.Activity.max.max_teacher" />
        <activity android:name=".view.Activity.max.max_teacheradd" />
        <activity android:name=".view.Activity.select_Activity.value_select" />
        <activity android:name=".view.Activity.max.max_value" />
        <activity android:name=".view.Activity.max.max_valueadd" />
        <activity android:name=".view.Activity.select_Activity.book_select" />
        <activity android:name=".view.Activity.max.max_courseadd" />
        <activity android:name=".view.Activity.max.Max_bookadd" />
        <activity android:name=".view.Activity.max.max_addclasss" />
        <activity android:name=".view.Activity.max.max_class" />
        <activity android:name=".view.Activity.zcj_detial" />
        <activity android:name=".view.Activity.zcj_add" />
        <activity android:name=".view.Activity.Calendar_Detial" />
        <activity android:name=".view.Activity.Calender_Object" />
        <activity android:name=".view.Activity.Calendar_Book" />
        <activity android:name=".view.Activity.Calendar_Check" />
        <activity android:name=".view.Activity.Calendar_Time" />
        <activity android:name=".view.Activity.Calendar_Content" />
        <activity android:name=".view.Activity.Program_Detial" />
        <activity android:name=".view.Activity.Speed_Detial" />
        <activity android:name=".view.Activity.Speed_Item" />
        <activity android:name=".view.Activity.Program_Time" />
        <activity android:name=".view.Activity.Program_Object" />
        <activity android:name=".view.Activity.Program_add" />
        <activity android:name=".view.Activity.ProgramTime_Add" />
        <activity android:name=".view.Activity.Speed_Add" />
        <activity android:name=".view.Activity.Speed_AddItem" />
        <activity android:name=".view.Activity.Calender_Add" />
        <activity android:name=".view.Activity.Calender_ContentAdd" />
        <activity android:name=".view.Activity.max.max_StudentAdd" />

        <!--  蒲公英-->
        <meta-data
            android:name="PGYER_APPID"
            android:value="83147ab9edbaacbcef710089657d125e" > <!--由蒲公英提供，稍后创建自己的App id后更新掉-->
        </meta-data>
        <!--  蒲公英结束 -->

    </application>

</manifest>